
header.signup {
  padding-top: 100px;
}

.logo-container {
  padding-bottom: 50px;
}

.signup-form-wrapper input.pop {
  border: none;
  box-shadow: none;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 50px;
  padding: 14px 24px 14px 24px;
  width: 100%;
  margin-bottom: 30px;
}

.signup-form-wrapper .group-selection {
  /*color: #fff;*/
}

.signup-form-wrapper .checkbox {
}

.group-selection-field-group {
  margin: 10px auto;
  float: none;
}

.group-selectors {
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

.group-selectors .icon {
  color: #4eb6f7;
  font-size: 3em;
  padding-bottom: 10px;
}

.group-select {
  text-align: left;
}

.group-select label {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
}

.do-not-fret {
  margin-top: 20px;
}

/**
 * colours
 * #4eb6f7
 * #0084b4
 */
.bg-secondary-2 {
  background-color: #4eb6f7 !important;
}

.btn:hover {
  border-color: #4eb6f7;
  background-color: #4eb6f7;
}
.btn-primary {

  color: #4eb6f7;
}
.btn-primary.btn-filled {
  background: #4eb6f7;
}

.link-text {
  border-bottom: 2px solid #4eb6f7;
  color: #4eb6f7;
}
.subnav-fullwidth .btn {
  color: #4eb6f7 !important;
}

.filters li {
  color: #4eb6f7;
}
.filters li.active {
  border-bottom: 2px solid #4eb6f7;
}
input[type="submit"] {
  border: 2px solid #4eb6f7;
  color: #4eb6f7;
}
.blog-filters li {
  color: #4eb6f7;
}
.blog-filters li.active {
  border-bottom: 2px solid #4eb6f7;
}
.pagination li a {
  color: #4eb6f7;
}
.pagination li.active {
  background: #4eb6f7;
}
.pager li a {
  border: 2px solid #4eb6f7;
  color: #4eb6f7;
}
.pager li a:hover {
  background: #4eb6f7;
}


.bg-primary {
  background-color: #4eb6f7 !important;
}
.feature-icon-large i {
  color: #4eb6f7;
}
.icons-large li {
  color: #4eb6f7;
}
.btn-primary {
  border-color: #4eb6f7;
}
